h1{
    text-align:center;
}
card {
    background-color: grey;
    border-radius:10px;
    border: 1px black solid;
    width: 50vw;
    height: 70vh;
    margin:auto;
    align-items:center;
    margin-top: 15vh;
}
card:hover{
    top:3%;
    background-color: lightgrey;
}
card > img{
    width:150px;
    height:150px;
    border-radius:20px;
    margin:auto;
}
card > div{
    width:80%;
    height:80%;
    background-color: darkgrey;
    border-radius:20px;
    padding:20px;
}
card > div:hover{
    background-color: gainsboro;
}