section {
    width:50%;
    height:40%;
    top: 20%;
    margin:auto;
    background-color: grey;
    border-radius:20px;
    border: 1px black solid;
}
section:hover{
    top:22%;
    height:40%;
    background-color: lightgrey;
}
section > img{
    width:80%;
    height:80%;
}
.mainGrid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items:center;
}